algorithm/knn/output/production/knn/README.txt
algorithm/knn/output/production/knn/.idea/.name
algorithm/knn/output/production/knn/.idea/compiler.xml
algorithm/knn/output/production/knn/.idea/knn.iml
algorithm/knn/output/production/knn/.idea/misc.xml
algorithm/knn/output/production/knn/.idea/modules.xml
algorithm/knn/output/production/knn/.idea/vcs.xml
algorithm/knn/output/production/knn/.idea/workspace.xml
algorithm/knn/output/production/knn/.idea/copyright/profiles_settings.xml
algorithm/knn/output/production/knn/knndata2/datafile.data
algorithm/knn/output/production/knn/knndata2/testfile.data
algorithm/knn/output/production/knn/Marchinglearning/knn2/KNN$1.class
algorithm/knn/output/production/knn/Marchinglearning/knn2/KNN.class
algorithm/knn/output/production/knn/Marchinglearning/knn2/KNNNode.class
algorithm/knn/output/production/knn/Marchinglearning/knn2/TestKNN.class
