<!DOCTYPE html>
<html ng-app="htmlCtrlApp" ng-csp＝"">
<head>

<link rel="stylesheet" type="text/css" href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap-theme.css">
 
<link rel="stylesheet" type="text/css" href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.css">

<script src="js/jquery.js"></script>
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/persistence/lib/persistence.js"></script>
<script src="./bower_components/persistence/lib/persistence.store.sql.js"></script>
<script src="./bower_components/persistence/lib/persistence.store.websql.js"></script>
<script src="./bower_components/react/react.js"></script>

<script src="./bower_components/react/react-dom.js"></script>

<script src="htmlCtrl.js"></script>
</head>
<body>
    
<div ng-controller="HtmlController as ctrl">

    <form ng-submit="ctrl.saveServer()">
        <input type="text" ng-model="ctrl.server"  size="30"
               placeholder="请输入服务器地址">
        <input class="btn-primary" type="submit" value="保存">
    </form>
<form ng-submit="ctrl.goodWebsite()">
    <div>
        <button class="btn btn-primary" type="submit" value="赞">赞</button>
    </div>
</form>
      <span>被点赞的网址,一共{{ctrl.websites.length}}个<span>
      <!-- [ <a href="" ng-click="ctrl.archive()">archive</a> ] -->
      <ul class="unstyled">
        <li ng-repeat="website in ctrl.websites">
          <!-- <label class="checkbox"> -->
            <!-- <input type="checkbox" ng-model="website"> 
            < <span class="done-{{todo.done}}">{{website.url}}</span> -->
            <span style="width:250px;display:block;overflow:hidden;white-space:nowrap; ">{{website.good}}个赞 <a>{{website.url}}</a></span>
          <!-- </label> -->
        </li>
      </ul>
      <!-- <form ng-submit="ctrl.addTodo()">
        <input type="text" ng-model="ctrl.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form> -->
    </div>
</body>
</html>
